In [5]:
import pandas as pd

df1 = pd.read_csv('ensemble_1.csv')

In [6]:
df1.head()

         TrackID  Predictor
0  199810_208019          1
1   199810_74139          1
2    199810_9903          1
3  199810_242681          0
4   199810_18515          0

In [7]:
for i in range(len(df1)):
    if df1['Predictor'][i] == 1:
        df1['Predictor'][i] = 0
    else:
        df1['Predictor'][i] = 1

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
df1.head()

         TrackID  Predictor
0  199810_208019          0
1   199810_74139          0
2    199810_9903          0
3  199810_242681          1
4   199810_18515          1

In [9]:
df1.to_csv('ensemble_1_swapped.csv', index=False)