# HW 9
# This time with 6 ratings (4 genre ratings, 1 artist rating, 1 album rating)

In [1]:
import pandas as pd

gr_truth = pd.read_csv('test2_new.txt', sep='|', header=None)
gr_truth.columns = ['UserID', 'ItemID', 'Predictor']
gr_truth.head()

   UserID  ItemID  Predictor
0  200031   30877          1
1  200031    8244          1
2  200031  130183          0
3  200031  198762          0
4  200031   34503          1

In [2]:
six_ratings = pd.read_csv('output4.txt', sep='|', header=None)
six_ratings.columns = ['UserID', 'ItemID', 'Rating1', 'Rating2', 'Rating3', 'Rating4', 'Rating5', 'Rating6']
six_ratings.head()

   UserID  ItemID  Rating1  Rating2  Rating3  Rating4  Rating5  Rating6
0  199810  208019      0.0      0.0      0.0      0.0      0.0      0.0
1  199810   74139      0.0      0.0      0.0     80.0      0.0      0.0
2  199810    9903      0.0      0.0      0.0      0.0      0.0      0.0
3  199810  242681      0.0      0.0      0.0      0.0      0.0      0.0
4  199810   18515      0.0     70.0      0.0      0.0      0.0      0.0

In [3]:
gr_truth['Rating1'] = 0.0
gr_truth['Rating2'] = 0.0
gr_truth['Rating3'] = 0.0
gr_truth['Rating4'] = 0.0
gr_truth['Rating5'] = 0.0
gr_truth['Rating6'] = 0.0
gr_truth = gr_truth[['UserID', 'ItemID', 'Rating1', 'Rating2', 'Rating3', 'Rating4', 'Rating5', 'Rating6', 'Predictor']]
gr_truth.head()

,UserID,ItemID,Rating1,Rating2,Rating3,Rating4,Rating5,Rating6,Predictor
0,200031,30877,0.0,0.0,0.0,0.0,0.0,0.0,1
1,200031,8244,0.0,0.0,0.0,0.0,0.0,0.0,1
2,200031,130183,0.0,0.0,0.0,0.0,0.0,0.0,0
3,200031,198762,0.0,0.0,0.0,0.0,0.0,0.0,0
4,200031,34503,0.0,0.0,0.0,0.0,0.0,0.0,1

In [4]:
for i in range(len(gr_truth)):
    user = gr_truth['UserID'][i]
    item = gr_truth['ItemID'][i]
    gr_truth['Rating1'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating1']
    gr_truth['Rating2'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating2']
    gr_truth['Rating3'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating3']
    gr_truth['Rating4'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating4']
    gr_truth['Rating5'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating5']
    gr_truth['Rating6'][i] = six_ratings[six_ratings['UserID']==user][six_ratings['ItemID']==item]['Rating6']

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [5]:
gr_truth.head(6)

,UserID,ItemID,Rating1,Rating2,Rating3,Rating4,Rating5,Rating6,Predictor
0,200031,30877,90.0,50.0,90.0,80.0,0.0,0.0,1
1,200031,8244,90.0,0.0,90.0,80.0,0.0,0.0,1
2,200031,130183,0.0,0.0,0.0,0.0,0.0,0.0,0
3,200031,198762,0.0,0.0,90.0,0.0,0.0,0.0,0
4,200031,34503,90.0,50.0,90.0,80.0,0.0,0.0,1
5,200031,227283,0.0,90.0,90.0,50.0,0.0,0.0,0

In [6]:
six_ratings[six_ratings['UserID']==200031]

     UserID  ItemID  Rating1  Rating2  Rating3  Rating4  Rating5  Rating6
570  200031   30877     90.0     50.0     90.0     80.0      0.0      0.0
571  200031    8244     90.0      0.0     90.0     80.0      0.0      0.0
572  200031  130183      0.0      0.0      0.0      0.0      0.0      0.0
573  200031  198762      0.0      0.0     90.0      0.0      0.0      0.0
574  200031   34503     90.0     50.0     90.0     80.0      0.0      0.0
575  200031  227283      0.0     90.0     90.0     50.0      0.0      0.0

In [7]:
gr_truth.tail(6)

,UserID,ItemID,Rating1,Rating2,Rating3,Rating4,Rating5,Rating6,Predictor
5994,212234,217037,0.0,0.0,0.0,0.0,0.0,0.0,0
5995,212234,137371,0.0,0.0,0.0,0.0,0.0,0.0,0
5996,212234,42375,0.0,0.0,0.0,0.0,0.0,0.0,0
5997,212234,277867,90.0,90.0,0.0,0.0,0.0,0.0,1
5998,212234,83093,90.0,90.0,0.0,0.0,0.0,0.0,1
5999,212234,239143,90.0,90.0,0.0,0.0,0.0,0.0,1

In [8]:
six_ratings[six_ratings['UserID']==212234]

       UserID  ItemID  Rating1  Rating2  Rating3  Rating4  Rating5  Rating6
30108  212234  217037      0.0      0.0      0.0      0.0      0.0      0.0
30109  212234  137371      0.0      0.0      0.0      0.0      0.0      0.0
30110  212234   42375      0.0      0.0      0.0      0.0      0.0      0.0
30111  212234  277867     90.0     90.0      0.0      0.0      0.0      0.0
30112  212234   83093     90.0     90.0      0.0      0.0      0.0      0.0
30113  212234  239143     90.0     90.0      0.0      0.0      0.0      0.0

In [9]:
gr_truth.to_csv('ground_truth.csv', index=False)
six_ratings.to_csv('six_ratings.csv', index=False)

# Classification:

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('recommender').getOrCreate()

In [11]:
df1 = spark.read.csv('ground_truth.csv', header=True, inferSchema=True)
df1.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Rating4: double (nullable = true)
 |-- Rating5: double (nullable = true)
 |-- Rating6: double (nullable = true)
 |-- Predictor: integer (nullable = true)

In [12]:
df1.show(10)

+------+------+-------+-------+-------+-------+-------+-------+---------+
|UserID|ItemID|Rating1|Rating2|Rating3|Rating4|Rating5|Rating6|Predictor|
+------+------+-------+-------+-------+-------+-------+-------+---------+
|200031| 30877|   90.0|   50.0|   90.0|   80.0|    0.0|    0.0|        1|
|200031|  8244|   90.0|    0.0|   90.0|   80.0|    0.0|    0.0|        1|
|200031|130183|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|        0|
|200031|198762|    0.0|    0.0|   90.0|    0.0|    0.0|    0.0|        0|
|200031| 34503|   90.0|   50.0|   90.0|   80.0|    0.0|    0.0|        1|
|200031|227283|    0.0|   90.0|   90.0|   50.0|    0.0|    0.0|        0|
|200032|218377|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|        0|
|200032|110262|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|        0|
|200032| 18681|   90.0|   90.0|    0.0|    0.0|    0.0|    0.0|        1|
|200032|138493|   90.0|   90.0|    0.0|    0.0|    0.0|    0.0|        1|
+------+------+-------+-------+-------+-------+-------+-------+---------+
only showing top 10 rows

In [13]:
cols = df1.columns

In [14]:
from pyspark.ml.feature import VectorAssembler

assemblerInput = ['Rating1', 'Rating2', 'Rating3', 'Rating4', 'Rating5', 'Rating6']
assembler = VectorAssembler(inputCols=assemblerInput, outputCol='features')

In [15]:
stages = []
stages += [assembler]

In [16]:
stages

[VectorAssembler_3b8050f13ba0]

In [17]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=stages)
pipelineModel = pipeline.fit(df1)
df1 = pipelineModel.transform(df1)
selectedCols = ['features'] + cols
df1 = df1.select(selectedCols)
df1.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Rating4: double (nullable = true)
 |-- Rating5: double (nullable = true)
 |-- Rating6: double (nullable = true)
 |-- Predictor: integer (nullable = true)

# a) Logistic Regression

In [18]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol='features', labelCol='Predictor', maxIter=10)
lrModel = lr.fit(df1)

In [19]:
trainingSummary = lrModel.summary
print('Training Set Area Under ROC: '+str(trainingSummary.areaUnderROC))

Training Set Area Under ROC: 0.8936834444444445

In [20]:
main_df = spark.read.csv('six_ratings.csv', header=True, inferSchema=True)
main_df.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Rating4: double (nullable = true)
 |-- Rating5: double (nullable = true)
 |-- Rating6: double (nullable = true)

In [21]:
main_cols = main_df.columns
main_df = pipelineModel.transform(main_df)
selCols = ['features'] + main_cols
main_df = main_df.select(selCols)
main_df.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Rating4: double (nullable = true)
 |-- Rating5: double (nullable = true)
 |-- Rating6: double (nullable = true)

In [22]:
preds_lr = lrModel.transform(main_df)
preds_lr.show(20)

+--------------------+------+------+-------+-------+-------+-------+-------+-------+--------------------+--------------------+----------+
|            features|UserID|ItemID|Rating1|Rating2|Rating3|Rating4|Rating5|Rating6|       rawPrediction|         probability|prediction|
+--------------------+------+------+-------+-------+-------+-------+-------+-------+--------------------+--------------------+----------+
|           (6,[],[])|199810|208019|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|      (6,[3],[80.0])|199810| 74139|    0.0|    0.0|    0.0|   80.0|    0.0|    0.0|[1.45887357039238...|[0.81136032985381...|       0.0|
|           (6,[],[])|199810|  9903|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|           (6,[],[])|199810|242681|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|      (6,[1],[70.0])|199810| 18515|    0.0|   70.0|    0.0|    0.0|    0.0|    0.0|[-0.5711981231604...|[0.36096041017310...|       1.0|
|[0.0,90.0,80.0,80...|199810|105760|    0.0|   90.0|   80.0|   80.0|    0.0|    0.0|[-1.9081236369892...|[0.12919179855021...|       1.0|
|           (6,[],[])|199812|276940|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|[100.0,100.0,80.0...|199812|142408|  100.0|  100.0|   80.0|    0.0|   80.0|    0.0|[-7.0179816309191...|[8.94829946668187...|       1.0|
|[100.0,100.0,80.0...|199812|130023|  100.0|  100.0|   80.0|   80.0|    0.0|    0.0|[-7.1208834712387...|[8.07400122773963...|       1.0|
|      (6,[2],[80.0])|199812| 29189|    0.0|    0.0|   80.0|    0.0|    0.0|    0.0|[1.03530265023672...|[0.73794263290882...|       0.0|
|(6,[1,2],[100.0,8...|199812|223706|    0.0|  100.0|   80.0|    0.0|    0.0|    0.0|[-2.0731335877500...|[0.11173564888513...|       1.0|
|           (6,[],[])|199812|211361|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|(6,[1,2],[90.0,80...|199813|188441|    0.0|   90.0|   80.0|    0.0|    0.0|    0.0|[-1.7622899639513...|[0.14650376990658...|       1.0|
|(6,[2,3],[80.0,80...|199813| 20968|    0.0|    0.0|   80.0|   80.0|    0.0|    0.0|[0.88946897719887...|[0.70878057594661...|       0.0|
|(6,[0,1],[90.0,90...|199813| 21571|   90.0|   90.0|    0.0|    0.0|    0.0|    0.0|[-5.6046099601636...|[0.00366735693218...|       1.0|
|[0.0,90.0,80.0,80...|199813| 79640|    0.0|   90.0|   80.0|   80.0|    0.0|    0.0|[-1.9081236369892...|[0.12919179855021...|       1.0|
|(6,[1,2],[70.0,80...|199813|184173|    0.0|   70.0|   80.0|    0.0|    0.0|    0.0|[-1.1406027163539...|[0.24220971873519...|       1.0|
|(6,[2,3],[80.0,80...|199813|111874|    0.0|    0.0|   80.0|   80.0|    0.0|    0.0|[0.88946897719887...|[0.70878057594661...|       0.0|
|           (6,[],[])|199814|122375|    0.0|    0.0|    0.0|    0.0|    0.0|    0.0|[1.60470724343024...|[0.83267525948910...|       0.0|
|(6,[0,1],[75.0,75...|199814|189043|   75.0|   75.0|    0.0|    0.0|    0.0|    0.0|[-4.4030570928979...|[0.01209186150361...|       1.0|
+--------------------+------+------+-------+-------+-------+-------+-------+-------+--------------------+--------------------+----------+
only showing top 20 rows

In [23]:
lr_answer_six = preds_lr.select('UserID', 'ItemID', 'prediction')
lr_answer_six.show(10)

+------+------+----------+
|UserID|ItemID|prediction|
+------+------+----------+
|199810|208019|       0.0|
|199810| 74139|       0.0|
|199810|  9903|       0.0|
|199810|242681|       0.0|
|199810| 18515|       1.0|
|199810|105760|       1.0|
|199812|276940|       0.0|
|199812|142408|       1.0|
|199812|130023|       1.0|
|199812| 29189|       0.0|
+------+------+----------+
only showing top 10 rows

In [24]:
lr_answer_six = lr_answer_six.toPandas()

In [25]:
lr_answer_six['TrackID']=''
lr_answer_six.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [26]:
len(lr_answer_six)

120000

In [27]:
for i in range(len(lr_answer_six)):
    lr_answer_six['TrackID'][i] = str(lr_answer_six['UserID'][i])+'_'+str(lr_answer_six['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
lr_answer_six = lr_answer_six[['TrackID', 'UserID', 'ItemID', 'prediction']]
lr_answer_six = lr_answer_six.rename(columns={'prediction': 'Predictor'})
lr_answer_six.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [29]:
lr_answer_six.drop(columns={'UserID', 'ItemID'}, inplace=True)
lr_answer_six.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [30]:
lr_answer_six.to_csv('lr_answer_six.csv', index=False)

# b) Decision Tree

In [31]:
from pyspark.ml.classification import DecisionTreeClassifier

dt = DecisionTreeClassifier(featuresCol = 'features', labelCol = 'Predictor', maxDepth=5)
dtModel = dt.fit(df1)
preds_dt = dtModel.transform(main_df)

In [32]:
preds_dt.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'Rating4',
 'Rating5',
 'Rating6',
 'rawPrediction',
 'probability',
 'prediction']

In [33]:
dt_answer_six = preds_dt.select('UserID', 'ItemID', 'prediction')
dt_answer_six = dt_answer_six.toPandas()

In [34]:
dt_answer_six['TrackID'] = ''
dt_answer_six.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [35]:
for i in range(len(dt_answer_six)):
    dt_answer_six['TrackID'][i] = str(dt_answer_six['UserID'][i])+'_'+str(dt_answer_six['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
dt_answer_six = dt_answer_six[['TrackID', 'UserID', 'ItemID', 'prediction']]
dt_answer_six = dt_answer_six.rename(columns={'prediction': 'Predictor'})
dt_answer_six.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [37]:
dt_answer_six.drop(columns={'UserID', 'ItemID'}, inplace=True)
dt_answer_six.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [38]:
dt_answer_six.to_csv('dt_answer_six.csv', index=False)

# c) Random Forest

In [39]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol= 'features', labelCol='Predictor')
rfModel = rf.fit(df1)
preds_rf = rfModel.transform(main_df)

In [40]:
preds_rf.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'Rating4',
 'Rating5',
 'Rating6',
 'rawPrediction',
 'probability',
 'prediction']

In [41]:
rf_answer_six = preds_rf.select('UserID', 'ItemID', 'prediction')
rf_answer_six = rf_answer_six.toPandas()

In [42]:
rf_answer_six['TrackID'] = ''
rf_answer_six.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [43]:
for i in range(len(rf_answer_six)):
    rf_answer_six['TrackID'][i] = str(rf_answer_six['UserID'][i])+'_'+str(rf_answer_six['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
rf_answer_six = rf_answer_six[['TrackID', 'UserID', 'ItemID', 'prediction']]
rf_answer_six = rf_answer_six.rename(columns={'prediction': 'Predictor'})
rf_answer_six.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [45]:
rf_answer_six.drop(columns={'UserID', 'ItemID'}, inplace=True)
rf_answer_six.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [46]:
rf_answer_six.to_csv('rf_answer_six.csv', index=False)

# d) Gradient-Boosted Tree Classifier

In [47]:
from pyspark.ml.classification import GBTClassifier

gbt = GBTClassifier(featuresCol = 'features', labelCol = 'Predictor', maxIter=10)
gbtModel = gbt.fit(df1)
preds_gbt = gbtModel.transform(main_df)

In [48]:
preds_gbt.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'Rating4',
 'Rating5',
 'Rating6',
 'rawPrediction',
 'probability',
 'prediction']

In [49]:
gbt_answer_six = preds_gbt.select('UserID', 'ItemID', 'prediction')
gbt_answer_six = gbt_answer_six.toPandas()

In [50]:
gbt_answer_six['TrackID'] = ''
gbt_answer_six.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [51]:
for i in range(len(gbt_answer_six)):
    gbt_answer_six['TrackID'][i] = str(gbt_answer_six['UserID'][i])+'_'+str(gbt_answer_six['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
gbt_answer_six = gbt_answer_six[['TrackID', 'UserID', 'ItemID', 'prediction']]
gbt_answer_six = gbt_answer_six.rename(columns={'prediction': 'Predictor'})
gbt_answer_six.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [53]:
gbt_answer_six.drop(columns={'UserID', 'ItemID'}, inplace=True)
gbt_answer_six.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [55]:
gbt_answer_six.to_csv('gbt_answer_six.csv', index=False)