# HW9: 
# EE 627
Team Name: DSDA

Sivankit Bhanot

# First:
we need to attain the ratings for the ground truth values that we have in test2_new.txt file.

# 1. and 2.

In [6]:
import pandas as pd

test_gr_truth = pd.read_csv('test2_new.txt', sep = '|', header=None)
test_gr_truth.columns = ['UserID', 'ItemID', 'Predictor']
test_gr_truth.head()

   UserID  ItemID  Predictor
0  200031   30877          1
1  200031    8244          1
2  200031  130183          0
3  200031  198762          0
4  200031   34503          1

In [7]:
len(test_gr_truth)

6000

Next, we need to attain the file with the ratings scores for 120,000 values  that we had worked on in HW5. We had tried several different methods (reading in different number of ratings). For simplicity, we will work first with the case where we have 3 different ratings for each item. We will call this the three_rating dataframe.

In [8]:
three_ratings = pd.read_csv('output2.txt', sep='|', header=None)
three_ratings.columns = ['UserID', 'ItemID', 'Rating1', 'Rating2', 'Rating3']
three_ratings.head()

   UserID  ItemID  Rating1  Rating2  Rating3
0  199810  208019      0.0      0.0      0.0
1  199810   74139      0.0      0.0      0.0
2  199810    9903      0.0      0.0      0.0
3  199810  242681      0.0      0.0      0.0
4  199810   18515      0.0     70.0      0.0

In [9]:
len(three_ratings)

120000

Therefore, we can see above that there are 120,000 values in this dataframe. In this we have three different ratings values extracted from the original raw data. NOTE: this dataframe will later be applied to the Classification algorithms in PySpark to attain the predictor values for each of these 120000 cases. 

For now, we will go ahead and extract the three ratings from this dataframe for the corresponding values in test_gr_truth dataframe.

In [19]:
test_gr_truth['Rating1'] = 0.0
test_gr_truth['Rating2'] = 0.0
test_gr_truth['Rating3'] = 0.0
test_gr_truth = test_gr_truth[['UserID', 'ItemID', 'Rating1', 'Rating2', 'Rating3', 'Predictor']]
test_gr_truth.head()

   UserID  ItemID  Rating1  Rating2  Rating3  Predictor
0  200031   30877      0.0      0.0      0.0          1
1  200031    8244      0.0      0.0      0.0          1
2  200031  130183      0.0      0.0      0.0          0
3  200031  198762      0.0      0.0      0.0          0
4  200031   34503      0.0      0.0      0.0          1

Now, in the above dataframe, the columns up to Rating3 ('UserID', 'ItemID', 'Rating1', 'Rating2', 'Rating3') can be thought of as the predictor matrix and the (unfortunately named) 'Predictor' column is the response vector. 

In this case, we have the response vector but want to extract the values of the predictor matrix. For this, we will look through the three_ratings dataframe. This is done below:

In [20]:
for i in range(len(test_gr_truth)):
    user = test_gr_truth['UserID'][i]
    item = test_gr_truth['ItemID'][i]
    test_gr_truth['Rating1'][i] = three_ratings[three_ratings['UserID']==user][three_ratings['ItemID']==item]['Rating1']
    test_gr_truth['Rating2'][i] = three_ratings[three_ratings['UserID']==user][three_ratings['ItemID']==item]['Rating2']
    test_gr_truth['Rating3'][i] = three_ratings[three_ratings['UserID']==user][three_ratings['ItemID']==item]['Rating3']

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

To confirm that the values have in fact been extracted, we wil compare the first few and last few from both dataframes.

In [21]:
test_gr_truth.head(6)

   UserID  ItemID  Rating1  Rating2  Rating3  Predictor
0  200031   30877     90.0     50.0      0.0          1
1  200031    8244     90.0      0.0      0.0          1
2  200031  130183      0.0      0.0      0.0          0
3  200031  198762      0.0      0.0      0.0          0
4  200031   34503     90.0     50.0      0.0          1
5  200031  227283      0.0     90.0      0.0          0

In [22]:
three_ratings[three_ratings['UserID']==200031]

     UserID  ItemID  Rating1  Rating2  Rating3
570  200031   30877     90.0     50.0      0.0
571  200031    8244     90.0      0.0      0.0
572  200031  130183      0.0      0.0      0.0
573  200031  198762      0.0      0.0      0.0
574  200031   34503     90.0     50.0      0.0
575  200031  227283      0.0     90.0      0.0

In [23]:
test_gr_truth.tail(6)

      UserID  ItemID  Rating1  Rating2  Rating3  Predictor
5994  212234  217037      0.0      0.0      0.0          0
5995  212234  137371      0.0      0.0      0.0          0
5996  212234   42375      0.0      0.0      0.0          0
5997  212234  277867     90.0     90.0      0.0          1
5998  212234   83093     90.0     90.0      0.0          1
5999  212234  239143     90.0     90.0      0.0          1

In [24]:
three_ratings[three_ratings['UserID']==212234]

       UserID  ItemID  Rating1  Rating2  Rating3
30108  212234  217037      0.0      0.0      0.0
30109  212234  137371      0.0      0.0      0.0
30110  212234   42375      0.0      0.0      0.0
30111  212234  277867     90.0     90.0      0.0
30112  212234   83093     90.0     90.0      0.0
30113  212234  239143     90.0     90.0      0.0

We can see above that the values have been extracted correctly. 

We will now use the test_gr_truth dataframe to train classification algorithms using PySpark

In [25]:
test_gr_truth.to_csv('ground_truth.csv', index=False)

In [27]:
three_ratings.to_csv('three_ratings.csv', index=False)

# 3. Classification using PySpark

In [26]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('recommender').getOrCreate()

In [28]:
df1 = spark.read.csv('ground_truth.csv', header=True, inferSchema=True)
df1.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Predictor: integer (nullable = true)

In [29]:
df1.show(10)

+------+------+-------+-------+-------+---------+
|UserID|ItemID|Rating1|Rating2|Rating3|Predictor|
+------+------+-------+-------+-------+---------+
|200031| 30877|   90.0|   50.0|    0.0|        1|
|200031|  8244|   90.0|    0.0|    0.0|        1|
|200031|130183|    0.0|    0.0|    0.0|        0|
|200031|198762|    0.0|    0.0|    0.0|        0|
|200031| 34503|   90.0|   50.0|    0.0|        1|
|200031|227283|    0.0|   90.0|    0.0|        0|
|200032|218377|    0.0|    0.0|    0.0|        0|
|200032|110262|    0.0|    0.0|    0.0|        0|
|200032| 18681|   90.0|   90.0|    0.0|        1|
|200032|138493|   90.0|   90.0|    0.0|        1|
+------+------+-------+-------+-------+---------+
only showing top 10 rows

In [30]:
cols = df1.columns

In [32]:
from pyspark.ml.feature import VectorAssembler

assemblerInput = ['Rating1', 'Rating2', 'Rating3']
assembler = VectorAssembler(inputCols = assemblerInput, outputCol='features')

In [33]:
assembler

VectorAssembler_5cc4844f637a

In [34]:
stages=[]
stages += [assembler]

In [35]:
stages

[VectorAssembler_5cc4844f637a]

In [36]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=stages)
pipelineModel = pipeline.fit(df1)
df1 = pipelineModel.transform(df1)
selectedCols = ['features'] + cols
df1 = df1.select(selectedCols)
df1.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)
 |-- Predictor: integer (nullable = true)

In [37]:
train, test = df1.randomSplit([0.7, 0.3], seed=2018)
print('Training Dataset Count: '+str(train.count()))
print('Test Dataset Count: '+str(test.count()))

Training Dataset Count: 4260
Test Dataset Count: 1740

In [38]:
type(df1)

pyspark.sql.dataframe.DataFrame

# a) Logistic Regression:

In [40]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol = 'features', labelCol = 'Predictor', maxIter=10)
lrModel = lr.fit(df1)

In [41]:
trainingSummary = lrModel.summary
print("Training Set Area Under ROC: "+str(trainingSummary.areaUnderROC))

Training Set Area Under ROC: 0.8749316111111111

In [42]:
main_df = spark.read.csv('three_ratings.csv', header=True, inferSchema=True)
main_df.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)

In [44]:
main_cols = main_df.columns
main_df = pipelineModel.transform(main_df)
selCols = ['features'] + main_cols
main_df = main_df.select(selCols)
main_df.printSchema()

root
 |-- features: vector (nullable = true)
 |-- UserID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Rating1: double (nullable = true)
 |-- Rating2: double (nullable = true)
 |-- Rating3: double (nullable = true)

In [45]:
predictions_120 = lrModel.transform(main_df)

In [46]:
predictions_120.show(10)

+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|         features|UserID|ItemID|Rating1|Rating2|Rating3|       rawPrediction|         probability|prediction|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|        (3,[],[])|199810|208019|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
|        (3,[],[])|199810| 74139|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
|        (3,[],[])|199810|  9903|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
|        (3,[],[])|199810|242681|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
|   [0.0,70.0,0.0]|199810| 18515|    0.0|   70.0|    0.0|[-0.8439630559440...|[0.30070077567359...|       1.0|
|   [0.0,90.0,0.0]|199810|105760|    0.0|   90.0|    0.0|[-1.4918665880031...|[0.18364172805621...|       1.0|
|        (3,[],[])|199812|276940|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
|[100.0,100.0,0.0]|199812|142408|  100.0|  100.0|    0.0|[-6.7590066527967...|[0.00115903633902...|       1.0|
|[100.0,100.0,0.0]|199812|130023|  100.0|  100.0|    0.0|[-6.7590066527967...|[0.00115903633902...|       1.0|
|        (3,[],[])|199812| 29189|    0.0|    0.0|    0.0|[1.42369930626282...|[0.80591769594253...|       0.0|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
only showing top 10 rows

In [69]:
lr_answer = predictions_120.select('UserID','ItemID','prediction')

In [70]:
lr_answer = lr_answer.toPandas()

Exception ignored in: <function JavaWrapper.__del__ at 0x7ff535240710>
Traceback (most recent call last):
  File "/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/pyspark/ml/wrapper.py", line 42, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'VectorAssembler' object has no attribute '_java_obj'

In [71]:
lr_answer['TrackID'] = ''
lr_answer.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [72]:
len(lr_answer)

120000

In [74]:
lr_answer['ItemID'][1]

74139

In [75]:
for i in range(len(lr_answer)):
    lr_answer['TrackID'][i] = str(lr_answer['UserID'][i])+'_'+str(lr_answer['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [79]:
lr_answer = lr_answer[['TrackID', 'UserID', 'ItemID', 'prediction']]
lr_answer = lr_answer.rename(columns={'prediction': 'Predictor'})
lr_answer.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [81]:
lr_answer.drop(columns={'UserID', 'ItemID'}, inplace=True)

In [82]:
lr_answer.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [83]:
lr_answer.to_csv('lr_answer.csv', index=False)

Uploading the data from this logistic regression gives 85.771% on the leaderboard.

# b) Decision Tree

In [84]:
from pyspark.ml.classification import DecisionTreeClassifier

dt = DecisionTreeClassifier(featuresCol = 'features', labelCol = 'Predictor', maxDepth=3)
dtModel = dt.fit(df1)
preds_120_dt = dtModel.transform(main_df)

In [86]:
preds_120_dt.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'rawPrediction',
 'probability',
 'prediction']

In [88]:
preds_120_dt.show(10)

+-----------------+------+------+-------+-------+-------+--------------+--------------------+----------+
|         features|UserID|ItemID|Rating1|Rating2|Rating3| rawPrediction|         probability|prediction|
+-----------------+------+------+-------+-------+-------+--------------+--------------------+----------+
|        (3,[],[])|199810|208019|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|        (3,[],[])|199810| 74139|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|        (3,[],[])|199810|  9903|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|        (3,[],[])|199810|242681|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|   [0.0,70.0,0.0]|199810| 18515|    0.0|   70.0|    0.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|   [0.0,90.0,0.0]|199810|105760|    0.0|   90.0|    0.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|        (3,[],[])|199812|276940|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
|[100.0,100.0,0.0]|199812|142408|  100.0|  100.0|    0.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|[100.0,100.0,0.0]|199812|130023|  100.0|  100.0|    0.0|[224.0,2252.0]|[0.09046849757673...|       1.0|
|        (3,[],[])|199812| 29189|    0.0|    0.0|    0.0|[2775.0,649.0]|[0.81045560747663...|       0.0|
+-----------------+------+------+-------+-------+-------+--------------+--------------------+----------+
only showing top 10 rows

In [91]:
dt_answer = preds_120_dt.select('UserID', 'ItemID', 'prediction')
dt_answer = dt_answer.toPandas()

In [96]:
dt_answer['TrackID'] = ''
dt_answer.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [98]:
for i in range(len(dt_answer)):
    dt_answer['TrackID'][i] = str(dt_answer['UserID'][i])+'_'+str(dt_answer['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [99]:
dt_answer = dt_answer[['TrackID', 'UserID', 'ItemID', 'prediction']]
dt_answer = dt_answer.rename(columns={'prediction': 'Predictor'})
dt_answer.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [100]:
dt_answer.drop(columns={'UserID', 'ItemID'}, inplace=True)
dt_answer.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [101]:
dt_answer.to_csv('dt_answer.csv', index=False)

Uploading the data from this decision tree gives 85.756% on the leaderboard.

# c) Random Forest

In [104]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol= 'features', labelCol='Predictor')
rfModel = rf.fit(df1)

In [105]:
preds_120_rf = rfModel.transform(main_df)
preds_120_rf.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'rawPrediction',
 'probability',
 'prediction']

In [106]:
preds_120_rf.show(10)

+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|         features|UserID|ItemID|Rating1|Rating2|Rating3|       rawPrediction|         probability|prediction|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|        (3,[],[])|199810|208019|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
|        (3,[],[])|199810| 74139|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
|        (3,[],[])|199810|  9903|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
|        (3,[],[])|199810|242681|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
|   [0.0,70.0,0.0]|199810| 18515|    0.0|   70.0|    0.0|[5.02883887521448...|[0.25144194376072...|       1.0|
|   [0.0,90.0,0.0]|199810|105760|    0.0|   90.0|    0.0|[4.17703993601630...|[0.20885199680081...|       1.0|
|        (3,[],[])|199812|276940|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
|[100.0,100.0,0.0]|199812|142408|  100.0|  100.0|    0.0|[0.61145360930509...|[0.03057268046525...|       1.0|
|[100.0,100.0,0.0]|199812|130023|  100.0|  100.0|    0.0|[0.61145360930509...|[0.03057268046525...|       1.0|
|        (3,[],[])|199812| 29189|    0.0|    0.0|    0.0|[15.9508109165533...|[0.79754054582767...|       0.0|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
only showing top 10 rows

In [108]:
rf_answer = preds_120_rf.select('UserID', 'ItemID', 'prediction')
rf_answer = rf_answer.toPandas()

In [109]:
rf_answer['TrackID'] = ''
rf_answer.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [110]:
for i in range(len(rf_answer)):
    rf_answer['TrackID'][i] = str(rf_answer['UserID'][i])+'_'+str(rf_answer['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [111]:
rf_answer = rf_answer[['TrackID', 'UserID', 'ItemID', 'prediction']]
rf_answer = rf_answer.rename(columns={'prediction': 'Predictor'})
rf_answer.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [113]:
rf_answer.drop(columns={'UserID', 'ItemID'}, inplace=True)
rf_answer.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [114]:
rf_answer.to_csv('rf_answer.csv', index=False)

Uploading the data from this random forest gives 85.756% on the leaderboard.

# d) Gradient-Boosted Tree Classifier

In [116]:
from pyspark.ml.classification import GBTClassifier

gbt = GBTClassifier(featuresCol = 'features', labelCol = 'Predictor', maxIter=10)
gbtModel = gbt.fit(df1)
preds_120_gbt = gbtModel.transform(main_df)

In [117]:
preds_120_gbt.columns

['features',
 'UserID',
 'ItemID',
 'Rating1',
 'Rating2',
 'Rating3',
 'rawPrediction',
 'probability',
 'prediction']

In [118]:
preds_120_gbt.show(10)

+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|         features|UserID|ItemID|Rating1|Rating2|Rating3|       rawPrediction|         probability|prediction|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
|        (3,[],[])|199810|208019|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
|        (3,[],[])|199810| 74139|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
|        (3,[],[])|199810|  9903|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
|        (3,[],[])|199810|242681|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
|   [0.0,70.0,0.0]|199810| 18515|    0.0|   70.0|    0.0|[-0.3823633131076...|[0.31762094530726...|       1.0|
|   [0.0,90.0,0.0]|199810|105760|    0.0|   90.0|    0.0|[-0.6812060990097...|[0.20384853659116...|       1.0|
|        (3,[],[])|199812|276940|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
|[100.0,100.0,0.0]|199812|142408|  100.0|  100.0|    0.0|[-1.3259026792203...|[0.06587782434721...|       1.0|
|[100.0,100.0,0.0]|199812|130023|  100.0|  100.0|    0.0|[-1.3259026792203...|[0.06587782434721...|       1.0|
|        (3,[],[])|199812| 29189|    0.0|    0.0|    0.0|[0.69621496476798...|[0.80097988422856...|       0.0|
+-----------------+------+------+-------+-------+-------+--------------------+--------------------+----------+
only showing top 10 rows

In [119]:
gbt_answer = preds_120_gbt.select('UserID', 'ItemID', 'prediction')
gbt_answer = gbt_answer.toPandas()

In [121]:
gbt_answer['TrackID'] = ''
gbt_answer.head()

   UserID  ItemID  prediction TrackID
0  199810  208019         0.0
1  199810   74139         0.0
2  199810    9903         0.0
3  199810  242681         0.0
4  199810   18515         1.0

In [122]:
for i in range(len(gbt_answer)):
    gbt_answer['TrackID'][i] = str(gbt_answer['UserID'][i])+'_'+str(gbt_answer['ItemID'][i])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [123]:
gbt_answer = gbt_answer[['TrackID', 'UserID', 'ItemID', 'prediction']]
gbt_answer = gbt_answer.rename(columns={'prediction': 'Predictor'})
gbt_answer.head()

         TrackID  UserID  ItemID  Predictor
0  199810_208019  199810  208019        0.0
1   199810_74139  199810   74139        0.0
2    199810_9903  199810    9903        0.0
3  199810_242681  199810  242681        0.0
4   199810_18515  199810   18515        1.0

In [124]:
gbt_answer.drop(columns={'UserID', 'ItemID'}, inplace=True)
gbt_answer.head()

         TrackID  Predictor
0  199810_208019        0.0
1   199810_74139        0.0
2    199810_9903        0.0
3  199810_242681        0.0
4   199810_18515        1.0

In [125]:
gbt_answer.to_csv('gbt_answer.csv', index=False)

Uploading the data from this GBT gives 85.753% on the leaderboard.